[Desktop Entry]
Name=XunCode
Comment=Open-source code editor for Android and Linux
Exec=xuncode %U
Icon=xuncode
Type=Application
Categories=Development;IDE;TextEditor;
Keywords=editor;code;developer;programming;ide;flutter;monaco;
Terminal=false
StartupNotify=true
StartupWMClass=xuncode
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;text/x-ruby;text/x-shellscript;text/x-sql;text/xml;text/html;text/css;text/x-makefile;text/x-markdown;
